In [30]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.1)

In [32]:
#stopwords are words that are frequently used but do 
#these

from nltk.corpus import stopwords
print(stopwords.words('english')[0:500:25])

['i', 'herself', 'been', 'with', 'here', 'very', 'doesn', 'won']

In [33]:
rawData = open("SMSSpamCollection.tsv").read()
#python reads this as a super long string

In [34]:
#the \t seperate label and body
rawData[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [35]:
#replace \t with \n so that we can split up each text using .split() which returns a list
parsedData = rawData.replace('\t', '\n').split('\n')

In [40]:
#go from 0th index to the end and take every other value
labelList = parsedData[0::2]
textList = parsedData[1::2]

In [41]:
print(labelList[0:5])
print(textList[0:5])

['ham', 'spam', 'ham', 'ham', 'ham']
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

Put each text's classification and text together in a Pandas dataframe

In [45]:
import pandas as pd

fullCorpus = pd.DataFrame({
    'label': labelList[:-1],
    'body_list': textList
})

fullCorpus.head(10)

  label                                          body_list
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!
5   ham  As per your request 'Melle Melle (Oru Minnamin...
6  spam  WINNER!! As a valued network customer you have...
7  spam  Had your mobile 11 months or more? U R entitle...
8   ham  I'm gonna be home soon and i don't want to tal...
9  spam  SIX chances to win CASH! From 100 to 20,000 po...

In [53]:
#shortcut we can use if we know it is \t delimited
#header = None makes sure first row isn't used as column name
fullCorpus = pd.read_csv("SMSSpamCollection.tsv", sep= '\t', header = None)
fullCorpus.columns = ['label', 'body_text']

In [54]:
fullCorpus.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

# Explore the dataset: what is the shape, is it balanced?

In [56]:
print(fullCorpus.shape)

(5568, 2)

In [61]:
print("Spam Count: ", len(fullCorpus[fullCorpus['label'] == 'spam']))
print("Ham Count: ", len(fullCorpus[fullCorpus['label'] == 'ham']))

Spam Count:  746
Ham Count:  4822

# Is there null data?

In [64]:
#no null objects
fullCorpus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5568 entries, 0 to 5567
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   label      5568 non-null   object
 1   body_text  5568 non-null   object
dtypes: object(2)
memory usage: 87.1+ KB